
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// wallpaper
$bg-white: #fff;
$bg-color: #ccd4d6;
$font-color-1: #8b8a8a;
$font-color-2: #363d3f;
$btn-color: #342635;
$btn-focus-box-shadow:  0 0 0 0.2rem rgba(20, 15, 21, .25) !default;
$grid-md-breakpoints: 768px;